<html>
  <head>
    <link href="css/layout.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet" type="text/css">
    <title> Seattle<3 </title>
    <meta charset = "utf-8">
  </head>
  <body>
    <img src= "seattle1.png" class="sil"/>
    <nav>
      <p>
         <% @navfooter.each do |name, url| %>
          <a href="<%= url %>"><%= name %></a>
         <% end %>
      </p>
    </nav>


<%= yield %>

    <footer>
      <p> Get your Seattle on:

         <% @navfooter.each do |name, url| %>
          <a href="<%= url %>"><%= name %></a>
         <% end %>
      </p>
    </footer>
    <p class="pfooter"> Copyright &copy: Herrera <%=Time.now.year %></p>
  </body>
</html>
